// // Color
// $primary-color: #e74c3c;
// $top-color: #f4f4f4;
// $second-color: #eeeeee; 
// $newest-color: #0066aa; 
// $white-color: #ffffff;
// $black-color: #333333;
// $grey-text-color: #999999;
// $grey-num-color: #cccccc;
// $footer-color: #444444;


// // Font
// $roboto-thin: 'Libre Baskerville', serif;
// $roboto-regular: 'Merriweather', serif;
// $roboto-bold: 'Roboto', sans-serif;
body,
h1,
h2,
h3,
p,
ul,
li,
span {
    margin: 0;
    padding: 0;
}

p {
    color: black;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h4 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.gray-content {
    color: #b4b4b4;
}


.primary-color {
    color: #e74c3c;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto; // nằm giữa
}

.header {
    background-color: #f4f4f4;

    &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    &_left-icon {
        a {
            padding-left: 24px;
        }

        &-def {
            color: #999999;
        }

        &-gmail {
            color: #e74c3c;
        }
    }

    &_menu {
        &-list {
            display: flex;

            &-item {
                margin-left: 24px;

                &-link {
                    color: #333333;
                }
            }
        }
    }
}

.ads {
    &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar {
    background-color: #e74c3c;
    height: 42px;
    width: 100%;

    &_menu-list {
        display: flex;

        &-item {
            list-style: none;
            line-height: 42px;
            font-size: 16px;
            position: relative;

            a {
                color: #fff;
                padding: 0 15px 0 15px;
                display: block;
                /* trỏ chuột sẽ click được rộng hơn*/
            }

            &:hover {
                background-color: #999999;

                a {
                    cursor: pointer;
                    color: #fff;
                }

                & .navbar_menu-list-item-subItem {
                    display: block;
                }
            }

            &-subItem {
                display: none;
                width: 100%;
                background-color: #999999;
                position: absolute;
                z-index: 99;
                left: 0;
                top: 42px;

                li {
                    width: 100%;

                    a {
                        color: #333;
                    }

                    &:hover {
                        background-color: blue;
                    }
                }
            }
        }
    }
}

.banner {
    background: url(./images/banner.png) no-repeat center center;
    width: 100%;
    min-height: 250px;
    margin-top: -25px;

    &_inner {
        align-items: center;
        justify-content: center;
        height: 100%;

        & .title {
            color: #fff;
            text-align: center;
            font-weight: 600;
            font-size: 46px;
            text-transform: uppercase;
            line-height: 250px; // căn giữa
        }

        & .menu {
            display: flex;
            width: 100%;
            background-color: #f4f4f4;
            height: 50px;

            & li {
                margin-left: 24px;

                & a {
                    color: #333333;
                    line-height: 50px;

                    & span {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.main {
    &_content {
        width: 100%;
        min-height: 2052px;

        & .content-left {
            margin-top: 30px;
            width: 800px;
            background-color: #fff;

            &_main {
                width: 800px;

                & .hot-new {
                    padding-bottom: 12px;

                    & h2 {
                        width: 100%;
                        color: #333333;
                        font-weight: bold;
                        font-size: 28px;
                    }

                    & .infor {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 10px;

                        &-left {
                            a {
                                margin-right: 15px;
                            }

                            & .icon {
                                color: #e74c3c;
                            }

                            & span {
                                color: #999999;
                                padding-left: 5px;
                            }
                        }

                        &-right {
                            color: #999999;
                            display: flex;

                            & span {
                                padding-left: 15px;
                                padding-right: 15px;
                            }

                            & .icon {
                                padding-left: 25px;
                            }

                            & a {
                                color: #999999;
                            }

                            & .VN {
                                color: #333;
                            }
                        }
                    }

                    & .content {
                        ul {
                            display: flex;

                            li {
                                padding-left: 11px;
                            }
                        }

                        & .text {
                            margin-top: 12px;
                            padding-bottom: 12px;
                        }

                        & .btn-xemthem {
                            text-align: center;

                            & a {
                                display: inline-block;

                                & button {
                                    border: none;
                                    background-color: #eeeeee;
                                    padding-left: 30px;
                                    padding-right: 30px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    font-size: 14px;
                                }
                            }
                        }

                        & .end {
                            padding-top: 12px;

                            & .share {
                                margin-bottom: 20px;
                                display: flex;
                                justify-content: space-between;

                                /* Phân chia không gian giữa các phần tử con */
                                & .block-left {
                                    display: flex;
                                    align-items: center;

                                    /* Căn giữa theo chiều dọc */
                                    & p {
                                        font-weight: bold;
                                    }

                                    & a {
                                        padding-left: 5px;
                                        padding-right: 5px;
                                        font-size: 27px;
                                    }

                                    & .fa-facebook {
                                        color: rgb(59, 90, 154);
                                    }

                                    & .fa-twitter {
                                        color: rgb(41, 169, 225);
                                    }

                                    & .fa-google {
                                        color: rgb(223, 75, 56);
                                    }
                                }

                                & .block-right {
                                    width: 40px;
                                    height: 40px;
                                    border: 2px solid #b4b4b4;
                                    /* Viền ngoài 2px, màu đen (#333) */
                                    display: flex;
                                    justify-content: center;
                                    /* Căn giữa theo chiều ngang */
                                    align-items: center;

                                    /* Căn giữa theo chiều dọc */
                                    & a {
                                        max-width: 100%;
                                        font-size: 20px;
                                    }
                                }
                            }

                            & .tag {
                                display: flex;

                                & .inner {
                                    margin-right: 8px;
                                    background-color: rgb(238, 238, 238);
                                    padding: 7px;

                                    & a {
                                        font-size: 12px;

                                        & p {
                                            color: rgb(153, 153, 153);
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

                & .news {
                    min-height: 1424px;

                    & .content {
                        margin-top: 12px;

                        & .y-kien {
                            & .elem {
                                padding: 10px;
                            }

                            & .title {

                                background-color: rgb(238, 238, 238);
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                & .right {
                                    display: flex;

                                    & .element {
                                        margin-left: 5px;
                                    }

                                    & .link {
                                        color: rgb(0, 102, 170);
                                    }
                                }
                            }

                            & .neu-y-kien {
                                margin-top: 20px;
                                margin-bottom: 10px;
                                border: 2px solid #b4b4b4;
                                min-height: 100px;
                            }

                            & .tra-loi {
                                text-align: right;

                                /* Căn phải nội dung */
                                & a {
                                    & button {
                                        border: none;
                                        background-color: #e74c3c;
                                        padding-left: 30px;
                                        padding-right: 30px;
                                        padding-top: 15px;
                                        padding-bottom: 15px;

                                        & p {
                                            color: #eeeeee;
                                        }
                                    }
                                }
                            }

                        }

                        & .tin-tuc {
                            padding-top: 50px;

                            & .title {
                                display: flex;
                                justify-content: space-between;
                                // border-bottom: 1px solid #b4b4b4;         
                                position: relative;

                                & .left {
                                    & p {
                                        font-size: 31px;
                                        position: relative;
                                        padding-bottom: 10px;
                                        // &::before {
                                        //     content: "";
                                        //     position: absolute;
                                        //     bottom: 0;
                                        //     left: 0;
                                        //     width: 60%;
                                        //     /* Chỉ chiếm 1 nửa chiều rộng của thẻ p */
                                        //     height: 3px;
                                        //     /* Đặt độ dày của border-bottom */
                                        //     background-color: #e74c3c;
                                        //     /* Màu sắc của border-bottom */
                                        //     & a {

                                        //         font-size: 5px;
                                        //     }
                                        // }
                                    }
                                }

                                & .right {
                                    display: flex;
                                    align-items: center;

                                    /* Căn giữa theo chiều dọc */
                                    & .primary-color {
                                        font-weight: bold;
                                    }

                                    & .icon {
                                        padding-left: 10px;
                                    }

                                    & .elem {
                                        padding-left: 20px;
                                        padding-right: 20px;
                                    }

                                    & .elem-main {
                                        border-right: 2px solid #b4b4b4;
                                    }

                                    & .fa-icon {
                                        width: 20px;
                                        height: 20px;
                                        font-size: 10px;
                                        color: #e74c3c;
                                        border: 2px solid #b4b4b4;
                                        /* Viền ngoài 2px, màu đen (#333) */
                                        display: flex;
                                        justify-content: center;
                                        /* Căn giữa theo chiều ngang */
                                        align-items: center;
                                        /* Căn giữa theo chiều dọc */
                                    }
                                }
                            }

                            & .line {
                                position: relative;
                                top: 50%;
                                left: 0;
                                width: 100%;
                                height: 3px;
                                display: block;
                                /* Hiển thị như một khối */

                                & .red {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 10%;
                                    height: 3px;
                                    /* Độ dày của đoạn màu đỏ */
                                    background-color: #e74c3c;
                                    /* Màu sắc của đoạn màu đỏ */
                                }

                                & .gray {
                                    position: absolute;
                                    top: 2px;
                                    left: 10%;
                                    width: 90%;
                                    height: 1px;
                                    /* Độ dày của phần màu xám */
                                    background-color: #b4b4b4;
                                    /* Màu sắc của phần màu xám */
                                }
                            }

                            & .noi-dung {
                                margin-top: 20px;
                                margin-right: 30px;
                                & .left {
                                    max-width: 50%;
                                    margin-right: 30px;
                                    & h3 {
                                        font-size: 24px;
                                    }

                                    & .left-photo {
                                        width: 100%;
                                        & img {
                                            width: 100%;
                                            height: auto; /* Để giữ tỷ lệ khung hình của ảnh */
                                            display: block; /* Để loại bỏ dư thừa khoảng trắng dưới ảnh */
                                        }
                                        
                                    }
                                    & .title {
                                        padding-top: 22px;
                                        padding-bottom: 10px;
                                    }
                                    & .date {
                                        font-size: 13px;
                                        display: flex;
                                        & .fa-clock {
                                            padding-right: 6px;
                                        }
                                        
                                    }
                                }
                            }


                        }
                    }

                }

            }
        }
    }
}